@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
}
main {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  flex: 1 1 40vw;
  background-image: url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 4rem;
  font-family: 'Jersey 10', sans-serif;
  letter-spacing: 4px;
}
.logo {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.384);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.img-src {
  position: absolute;
  bottom: 25px;
  font-size: 1rem;
}
.left a:any-link{
    color: hsl(39, 60%, 60%);
    text-decoration: none;
}
.left a:hover, .left a:focus{
    color: hsl(65, 60%, 60%);
}
/* || RIGHT */
.right {
  flex: 1 1 60vw;
}
.right form > * {
  padding-left: 40px;
}
.description p {
  max-width: 40rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
fieldset {
  background-color: white;
  box-shadow: 5px 5px 10px 2px rgb(187, 187, 187);
  border: none;
}
.fieldset-wrapper {
  padding: 1rem 0 2rem 0;
  min-height: 10rem;
}
.fieldset-wrapper > .form-header {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  padding-bottom: 1rem;
}
.inputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  width: 560px;
  height: 200px;
}
label {
  font-size: 0.7rem;
  font-weight: 600;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  display: flex;
  flex-flow: column nowrap;
  min-width: 200px;
  position: relative;
}
label > input {
  margin-top: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid grey;
  text-indent: 10px;
  padding: 3px 0 ;
  background-color: hsl(0, 16%, 96%);
}
.submit {
  margin-top: 2rem;
}
.submit > button {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5em 3em;
  border-radius: 5px;
  background-color: hsl(39, 96%, 28%);
  border-color: hsl(39, 96%, 28%);
  color: white;
}
.submit > button:hover {
  cursor: pointer;
  background-color: hsl(39, 98%, 50%);
}

.log-in > a:any-link {
  color: hsl(39, 89%, 43%);
  text-decoration: none;
}
.log-in > a:hover, .log-in > a:focus {
  color: hsl(40, 93%, 21%);
}

/* Interactivity */
.failed {
  border-color: red;
}
#unmatch-pwd {
  position: absolute;
  color: red;
  top: 100%
}
.hidden {
  display: none;
}